{% extends "mainapp/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="content">
    <a href="{% url 'products:category_add' %}">Добавить категорию</a>
    <hr>
    <h1>Категории</h1>
    {% for category in categories %}
    <div class="block">
        <div class="text">
            <a href="{% url 'products:category_detail' pk=category.id %}">
                <h4>{{ category.name }}</h4>
            </a>
            <p>{{ category.description }}</p>
        </div>
    </div>
    {% endfor %}
    <hr>

    {% endblock content %}