{% extends "mainapp/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="content">
    <a href="{% url 'products:add' %}">Добавить товар</a>
    <hr>
    <ul class="menu">
        {% for category in categorys %}
        <li>
            <a href="{% url 'products:category_detail' pk=category.id %}">
                {{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <h1>{{title}}</h1>

    {% for product in products %}
    <div class="block">
        <img src="/media/{{ product.image }}" width=50% alt="{{ product.short_desc }}">
        <div class="text">
            <a href="{% url 'products:detail' pk=product.id %}">
                <h4>{{ product.name }}</h4>
            </a>
            <p>{{ product.description }}</p>
        </div>
    </div>
    {% endfor %}
    <hr>

    {% endblock content %}