{% extends "mainapp/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="content">
    <a href="{% url 'category:add' %}">Добавить категорию</a>
    <hr>
    <h1>Категории</h1>
    <div class="category-list">
    </div>
    
    
    <script>
        const render_category = ({id, name}) => {
            `<div>${ name } <a href='/${ id }'>Перейти</a></div>`
        };
        container = document.querySelector('.category-list');
        
        fetch ('/category/api/list')
            .then (response => response.json())
            .then (data => {
                console.log (data)
                data.results.map(
                    itm => container.innerHtml += render_category({id:itm.id,name:itm.name})
                )
            });
    </script>
    <hr>

    {% endblock content %}