{% extends "mainapp/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="content">
    <a href="{% url 'category:add' %}">Добавить категорию</a>
    <hr>
    <h1>Категории</h1>
    <div class="category-list">
        {% for category in object_list %}
            <h3>{{ category.name }}</h3>
            <p>
                {{ category.description }}
            </p>
            <a href='{% url "category:detail" pk=category.id %}'>Перейти</a>
        {% endfor %}
    </div>
    <hr>

    {% endblock content %}