{% extends "mainapp/base.html" %}
{% load staticfiles %}
{% block content %}

        <div class="content">
            <hr>

            <h1>Контакты</h1>
            <h2>Обратная связь</h2>

            <form action="" method="get" class="form">
                Ваше имя: <input type="text" placeholder="Введите имя..."><br>
                Ваш email: <input type="email" placeholder="Введите емайл..."><br>
                Уже покупали что-то у нас?<br>
                <input type="radio" name="pol"> ДА <input type="radio" name="pol" checked> НЕТ<br>
                Сообщение:<br>
                <textarea></textarea><br>
                На какую тематику вы хотите получать рассылки от нас:<br>
                <input type="checkbox">Новости компании<br>
                <input type="checkbox">Поступления новых товаров<br>
                <input type="submit" value='Отправить'>
            </form>

            <h2>Наш адрес</h2>
            Приезжайте к нам на плантацию мандаринов и кофе:<BR>

            <img src="/static/img/map.png" class="map">
        </div>
        <hr>  
{% endblock content %}